<!DOCTYPE html>
<html lang="zh" class="">

<head>
    <meta charset="utf-8" />
    <title>前端每日必读</title>
</head>

<body>
    <h1><%- array[0].title %></h1>
    <ul class="faceu"><%- array[0].html %></ul>
    <h1><%- array[1].title %></h1>
    <ul class="faceu"><%- array[1].html %></ul>
    <h1><%- array[2].title %></h1>
    <ul class="faceu"><%- array[2].html %></ul>
    <h1><%- array[3].title %></h1>
    <ul class="faceu"><%- array[3].html %></ul>
    <style>
    body {
        font-size: 13px;
        color: #333;
    }
    .faceu {
        list-style: none;
    }
    a {
        line-height: 1.5;
        font-weight: 700;
        text-decoration: none;
        color: #333;
    }
    </style>
</body>

</html>